# Exclude node_modules directory
node_modules/

# Exclude environment variable files
.env

# Exclude log files
*.log

# Exclude build directories and files
dist/
build/

# Exclude system-specific files
.DS_Store
Thumbs.db

# Exclude editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
